body {
    background: #efefef;
    /*    
    background: #fbfbfb url('../img/ski.jpg');
    background-size:100%;
    color: #eee;
    */
    font: 1.4em 'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: center;
}

section {
     margin-bottom: 35px;
     padding: 30px;
     background-color: #fefefe;
     box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
     -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
     -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
     border-radius: 10px;
     -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
}

section a:link {color: #000000; text-decoration: none}
section a:active {color: #000000; text-decoration: none}
section a:visited {color: #000000; text-decoration: none}
section a:hover {color: #ff0000; text-decoration: none}

#dukelink { color: #001A57; }

#links {
    display: block;
    height: 60px;
    min-height: 60px;
    list-style-type: none;
    text-align:center;
    -webkit-padding-start: 0px;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 1.0em;
}

#links li{
    display: inline-block;
    margin: 0 0.0em;
    width: 50px;
}

.linkimg a {
    display: block;
    background-size: 100%, 100%;
    -o-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -khtml-background-size : 100% 100%;
    -moz-background-size: 100% 100%;
    height: 40px;
    width: 40px;
    overflow: hidden;
}

#quora-link a {
    background: url('../linkimg/quora_gs.png') no-repeat center center;
}
#quora-link a:hover {
    background: url('../linkimg/quora.png') no-repeat center center;
}

#crossvalidated-link a {
    background: url('../linkimg/crossvalidated_gs.png') no-repeat center center;
}
#crossvalidated-link a:hover {
    background: url('../linkimg/crossvalidated.png') no-repeat center center;
}

#twitter-link a {
    background: url('../linkimg/twitter_gs.png') no-repeat center center;
}
#twitter-link a:hover {
    background: url('../linkimg/twitter.png') no-repeat center center;
}

#facebook-link a {
    background: url('../linkimg/facebook_gs.png') no-repeat center center;
}
#facebook-link a:hover {
    background: url('../linkimg/facebook.png') no-repeat center center;
}

#linkedin-link a {
    background: url('../linkimg/linkedin_gs.png') no-repeat center center;
}
#linkedin-link a:hover {
    background: url('../linkimg/linkedin.png') no-repeat center center;
}

#googleplus-link a {
    background: url('../linkimg/googleplus_gs.png') no-repeat center center;
}
#googleplus-link a:hover {
    background: url('../linkimg/googleplus.png') no-repeat center center;
}

#runkeeper-link a {
    background: url('../linkimg/runkeeper_gs.png') no-repeat center center;
}
#runkeeper-link a:hover {
    background: url('../linkimg/runkeeper.png') no-repeat center center;
}

#preloadimg {
   position: absolute;
   overflow: hidden;
   left: -9999px; 
   top: -9999px;
   height: 1px;
   width: 1px;
}

#page {
    margin: auto;
    width: 700px;
}
