<p>
    <h2 align="center">Which StackOverflow questions will be closed?</h2><br />
    <p>This app shows a list of questions that our model predicts as most likely or least likely to be closed. 
        <span ng-show="first_load">We are currently analyzing
            <strong>{{num_questions}} questions</strong>.
        </span>
    </p>
    <h3 align="center" ng-show="direction=='desc'"><a href="" ng-click="reverse()">Most Likely To Be Closed</a></h3>
    <h3 align="center" ng-show="direction=='asc'"><a href="" ng-click="reverse()">Least Likely To Be Closed</a></h3>
    
</p>

<div id="loading_spinner" ng-show="is_loading" style="display:inline-block;width:100%;height:40px;margin-left:auto;margin-right:auto;">
    <script>
        var opts = {
          lines: 13, // The number of lines to draw
          length: 7, // The length of each line
          width: 5, // The line thickness
          radius: 10, // The radius of the inner circle
          corners: 1, // Corner roundness (0..1)
          rotate: 0, // The rotation offset
          color: '#000', // #rgb or #rrggbb
          speed: 1, // Rounds per second
          trail: 60, // Afterglow percentage
          shadow: false, // Whether to render a shadow
          hwaccel: true, // Whether to use hardware acceleration
          className: 'spinner', // The CSS class to assign to the spinner
          zIndex: 2e9, // The z-index (defaults to 2000000000)
          top: 'auto', // Top position relative to parent in px
          left: 'auto' // Left position relative to parent in px
        };
        var target = document.getElementById('loading_spinner');
        var spinner = new Spinner(opts).spin(target);
    </script>
</div>

<accordion close-others="false">    
    <accordion-group heading="{{question.title}}" ng-repeat="question in questions">
        <div style="width:100%;background-color:#eee;">
            <a href="http://www.stackoverflow.com/questions/{{question.post_id}}">Stack Overflow Link</a>
            <div style="display:inline-block;position:absolute;right:15px;">Predicted Close Likelihood: <strong>{{question.close_likelihood}}</strong></div><br />
        </div>
        <br />
        <div class="post-text" ng-bind-html-unsafe="question.body_html"></div>
    </accordion-group>
</accordian>
