<p>
    <h1>Kaggle StackOverflow Competition - Current Production Results</h1>
    <h2>Show the top questions that a basic production model predicts as the most likely to be open or closed closed:</h2>
    <h2>
        <ul>
            <a href="" ng-click="reverse()">Reverse Sort Order</a>
        </ul>
    </h2>
    <h2 ng-hide="is_loading">
        Currently analyzing: {{num_questions}} questions
    </h2>
</p>

<div id="loading_spinner" ng-show="is_loading" style="display:inline-block;width:100%;height:40px;">
    <script>
        var opts = {
          lines: 13, // The number of lines to draw
          length: 7, // The length of each line
          width: 5, // The line thickness
          radius: 10, // The radius of the inner circle
          corners: 1, // Corner roundness (0..1)
          rotate: 0, // The rotation offset
          color: '#000', // #rgb or #rrggbb
          speed: 1, // Rounds per second
          trail: 60, // Afterglow percentage
          shadow: false, // Whether to render a shadow
          hwaccel: true, // Whether to use hardware acceleration
          className: 'spinner', // The CSS class to assign to the spinner
          zIndex: 2e9, // The z-index (defaults to 2000000000)
          top: 'auto', // Top position relative to parent in px
          left: 'auto' // Left position relative to parent in px
        };
        var target = document.getElementById('loading_spinner');
        var spinner = new Spinner(opts).spin(target);
    </script>
</div>

<div>
    <div ng-repeat="question in questions">
        Title: <strong><a href="http://www.stackoverflow.com/questions/{{question.post_id}}">{{question.title}}</a></strong>
        <br /><br />
        Predicted Close Likelihood: <strong>{{question.close_likelihood}}</strong><br /><br />
        <div class="post-text" ng-bind-html-unsafe="question.body_html" style="background-color:#ffffcc"></div>
        <br /><br />
    </div>
</div> 
